.header {
    position: fixed;
    top: 0;
    left: 16rem; /* Offset by the width of the sidebar */
    width: calc(100% - 16rem); /* Full width minus the sidebar width */
    background-color: #ffffff;
    box-shadow: none;
    z-index: 999;
    padding: 0.5rem 1rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftSection {
    display: flex;
    align-items: center;
}
  
.rightSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cancelButton {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 0.25rem .5rem;
  margin: 0.25rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  display: none;
}

.cancelButton:hover {
  opacity: 0.8;
}

.tokenCounter {
  font-weight: bold;
  color: black;
  margin-right: 0.5rem;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 4.5rem;
    left: 16rem;
    /*width: calc(100% - 16rem);*/
    overflow: auto;
}

@media (max-width: 360px) {
    .main {
        left: 0;
    }
}