/*@import url('https://fonts.googleapis.com/css2?family=Duru+Sans&family=Gilda+Display&family=Limelight&family=Rye&family=Yesteryear&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Raleway:wght@400;700&display=swap');

.pageWrapper {
  position: relative;
  background-color: white;
  color: black;
  font-family: 'Raleway', sans-serif;
}

.heroSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 8rem;
  width: 100%;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  box-sizing: border-box;
  z-index: 1000;
}

.heroText {
  text-align: center;
  flex-grow: 1;
}

.heroTitle {
  font-size: 3.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 0;
}

.heroDescription p {
  font-size: 1.25rem;
}

.headerButtons {
  margin-left: auto;
}

.loginButton {
  background-color: white;
  color: black;
  border: none;
  border-radius: 0.75rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

/* Feature Sections */
.featureSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem 2rem;
  background-color: black;
  color: white;
  gap: 2rem;
  flex-wrap: nowrap;
  margin-bottom: 5rem;
}

.mediaContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%; /* Ensure full width */
}

.mediaContainer h2 {
  font-size: 2rem;
}

.mediaContainer img {
  width: 100%; /* Make sure the images take full width of the container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure the image covers its container without distortion */
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 2rem;
  padding-top: 2rem;
}

.textContainer h2{
  font-size: 2rem;
}

.textContainer h3 {
  font-size: 1.5rem;
  margin-top: 0;
}

.textContainer p {
  padding-top: 1rem;
  margin-bottom: 1.5rem;
}

.textContainer ul {
  list-style-type: disc; /* Default bullet style */
  padding-left: 1.5rem; /* Indent the list a bit */
  margin-top: 1rem; /* Add some space above the list */
}

.textContainer li {
  margin-bottom: 0.5rem; /* Space between list items */
  font-size: 1rem;
  color: white; /* Ensure text color matches your design */
}

/* Footer */
.footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 0.25rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoWrapper {
  flex: 1; /* Flexbox item for logo */
}

.footerLinks {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.footerLinks a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

