/*@import url('https://fonts.googleapis.com/css2?family=Duru+Sans&family=Gilda+Display&family=Limelight&family=Rye&family=Yesteryear&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Raleway:wght@400;700&display=swap');

.pageWrapper {
  position: relative;
  background-color: white;
  color: black;
  font-family: 'Raleway', sans-serif;
}

.heroSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 8rem;
  width: 100%;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  box-sizing: border-box;
  z-index: 1000;
}

.heroText {
  text-align: center;
  flex-grow: 1;
}

.heroTitle {
  font-size: 3.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 0;
}

.heroDescription {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

.headerButtons {
  margin-left: auto;
}

.loginButton {
  background-color: white;
  color: black;
  border: none;
  border-radius: 0.75rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

/* AI Partner Section */
.aiPartnerSection {
  position: relative; /* Change from fixed to relative */
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 8rem;
  background-color: white;
  color: black;
  text-align: center;
  z-index: 1; /* Lower z-index to sit behind the feature sections */
}

.aiPartnerSection h2 {
  font-size: 2rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.logoGrid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.logoItem {
  width: 150px;
  margin: 1rem;
  text-align: center;
}

.logoItem p {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.logoItem img {
  max-width: 100%;
  height: auto;
}

/* Feature Sections */
.featureSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
  background-color: black;
  color: white;
  margin-top: 8rem;
  margin-bottom: 16rem;
  z-index: 10; /* Ensure these sections appear above the partner section */
}

.mediaContainer {
  flex: 1;
  margin-right: 2rem;
}

.featureVideo {
  max-width: 100%;
  border-radius: 0.5rem;
}

.textContainer {
  flex: 1;
}

.textContainer h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.textContainer p {
  margin-bottom: 1.5rem;
}

/* Footer */
.footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 0.25rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoWrapper {
  flex: 1; /* Flexbox item for logo */
}

.footerLinks {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.footerLinks a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

