.input-container {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.textarea-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center; /* Ensure items are centered vertically */
  position: relative; /* Ensure relative positioning */
  flex-direction: column; /* Ensure vertical stacking of elements */
}

.textarea {
  width: 100%;
  flex-grow: 1;
  resize: none;
  box-sizing: border-box;
  border: 2px solid rgba(82, 132, 147, 0.8);
  margin-right: 0.5rem;
  padding-left: 0.5rem; /* Add padding to the left */
  padding-right: 3rem; /* Add padding to the right to make room for the thumbnail */
  margin-bottom: 0.5rem; /* Add space between textareas */
}

.button {
  border: 2px solid rgba(82, 132, 147, 0.8); /* Custom border color */
  background-color: rgba(82, 132, 147, 0.8); /* Background color */
  color: #ffffff; /* Text color */
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: rgba(112, 162, 177, 1); /* Darker shade on hover */
}

.button:disabled {
  background-color: rgba(112, 162, 177, 0.5); /* Lighter shade when disabled */
}

.hidden-input {
  display: none !important; /* Hide the file input */
}

.file-attach-button:hover {
  cursor: pointer;
}

.file-preview {
  background-color: white;
  border: 1px solid #ccc;
  border-style: dotted;
  border-radius: 0.25rem;
  display: flex;
  left: 0;
}

.thumbnail {
  max-width: 50px;
  max-height: 50px;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

@media (max-width: 768px) {
  .textarea-container {
    width: 90%; /* Make the textarea-container wider on small screens */
  }

  .textarea {
    width: 100%; /* Ensure the textarea takes the full width of the container */
    padding-right: 3rem; /* Ensure padding on the right to accommodate the thumbnail */
  }
}