.flexContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flexItems {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.textAreaContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.textAreaWrapper {
  position: relative;
  width: 100%;
  padding: 0.5rem;
}

.textArea {
  width: 100%;
  resize: none;
  box-sizing: border-box;
  padding: 0.5rem 0.5rem; /* Add left padding to avoid overlap with thumbnail */
  border: 2px solid rgba(50, 70, 90, 0.8);
  border-radius: 1rem;
  overflow-y: hidden; /* Prevent vertical scroll */
  min-height: 3rem;
  transition: height 0.2s ease, padding-top 0.2s ease;
}

.textArea:focus {
  height: auto;
  max-height: 100%; /* Allow it to grow beyond the minimum height */
}

.expandedTextArea {
  min-height: 5.5rem; /* Expand height when file is attached */
}

.withFile {
  padding: 0.5rem 0.5rem 1rem 5.5rem; /* Add extra padding when a file is attached */
}

.filePreviewInside {
  position: absolute;
  top: 1rem; /* Position at the top-left corner of the textarea */
  left: 1rem;
  display: flex;
  align-items: center;
}

.closeIconInside {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.25rem;
  margin-right: 0.25rem;
  cursor: pointer;
  color: red;
  background-color: white;
  border-radius: 50%;
}

.button {
  border: 2px solid rgba(50, 70, 90, 0.8);
  background-color: rgba(70, 90, 110, 0.8);
  color: #ffffff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: rgba(112, 162, 177, 1);
}

.disabledButton {
  background-color: rgba(112, 162, 177, 0.5);
}

.hiddenInput {  
  display: none;
}

.fileAttachButton:hover {
  cursor: pointer;
}

.warningText {
  color: red;
  margin-top: 10px;
}

.filePreview {
  background-color: white;
  border: 1px double dodgerblue;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.thumbnail {
  max-width: 70px;
  max-height: 70px;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.filePreviewContainer {
  position: relative;
  display: inline-block;
  text-align: center;
}

.closeIcon {
  position: absolute;
  top: 1px;
  right: 1px;
  cursor: pointer;
  color: red;
  background-color: white;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .textAreaContainer {
    width: 90%;
  }

  .textArea {
    width: 100%;
    padding-right: 3rem;
  }
}
