.input-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column-reverse; /* Ensure input box is at the bottom */
}

.textarea-container {
  width: 50%; /* Center the textarea-container and set it to 50% width */
  display: flex;
  justify-content: center;
  align-items: center; /* Ensure items are centered vertically */
  flex-direction: row; /* Ensure horizontal stacking of elements */
  position: relative; /* Ensure relative positioning */
}

.textarea {
  width: 100%;
  flex-grow: 1;
  resize: none;
  box-sizing: border-box;
  border: 2px solid rgba(82, 132, 147, 0.8);
  margin-right: 0.5rem;
  padding-left: 0.5rem; /* Add padding to the left */
  padding-right: 3rem; /* Add padding to the right to make room for the thumbnail */
}

.button {
  border: 2px solid rgba(82, 132, 147, 0.8); /* Custom border color */
  background-color: rgba(82, 132, 147, 0.8); /* Background color */
  color: #ffffff; /* Text color */
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: rgba(112, 162, 177, 1); /* Darker shade on hover */
}

.button:disabled {
  background-color: rgba(112, 162, 177, 0.5); /* Lighter shade when disabled */
}

.hidden-input {
  display: none !important; /* Hide the file input */
}

.file-attach-button:hover {
  cursor: pointer;
}

.file-preview {
  background-color: white;
  border: 1px double dodgerblue;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between; /* Space out elements inside the preview */
  padding: 0.5rem; /* Add padding for spacing */
  position: absolute; /* Absolute positioning */
  bottom: 10px; /* Adjust positioning to provide some space from the bottom */
  right: 10px; /* Adjust positioning to provide some space from the right */
  margin-left: 0.5rem; /* Add space between the preview and the text area */
}

.thumbnail {
  max-width: 50px;
  max-height: 50px;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.file-preview {
  display: inline-block;
}

.file-preview-container {
  position: relative;
  display: inline-block;
  text-align: center; /* Center-align the text and thumbnail */
}

.file-preview-text {
  position: absolute;
  top: -20px; /* Adjust based on the desired space above the image */
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #555;
  white-space: nowrap; /* Prevent text from wrapping */
}


@media (max-width: 768px) {
  .textarea-container {
    width: 90%; /* Make the textarea-container wider on small screens */
  }

  .textarea {
    width: 100%; /* Ensure the textarea takes the full width of the container */
    padding-right: 3rem; /* Ensure padding on the right to accommodate the thumbnail */
  }
}